/*
!/.bash_logout
!/.bash_profile
!/.bashrc
!/bin
!/.bmonrc
!/.config
!/.devilspie
!/doc
!/etc
!/.git
!/.gitattributes
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.inputrc
!/.irbrc
!/.lbdbrc
!/lib
!/.local
!/.mc
!/.muttrc
!/.offlineimap.py
!/.offlineimaprc
!/.pandoc
!/.rubocop.yml
!/.tmux
!/.t-prot
!/Vagrantfile
!/.vim
!/.vimrc
!/.x
!/.xprofile
!/.xsessionrc
